Flask
openai>=1.3.7
python-dotenv
gspread
oauth2client
scikit-learn
gunicorn
flask-cors
requests
matplotlib
sympy
numpy
argon2-cffi
pyjwt
psycopg2-binary
flask-limiter
google-cloud-storage>=2.16.0

